# Development Compose defaults
NODE_ENV=development
API_BASE_URL=http://server:3333
NEXT_PUBLIC_DEFAULT_LANGUAGE=en-US
STORAGE_URL=http://localhost:9379
ENABLE_S3=false
DISABLE_FILESYSTEM_ENCRYPTION=true
SECURE_SITE=false
